<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/forgotPassword.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<<<<<<< HEAD
    <div class="container">
        
            <div class="row">
                <div class="col">
                <form action="">
=======
    <div class="container" id="forgotpass">
        
            <div class="row">
                <div class="col">
                <form action="/users/passrecovery" method="POST">
>>>>>>> origin/master
                    <div class="form-group form-row jumbotron col-md-6 col-sm-12" style="margin: 50px auto;">
                        <div class="title col-12">
                            <h3>Please enter your email below to retrieve your password</h3>
                        </div>
<<<<<<< HEAD
=======
                        
                                <% if(message != "") { %>
                                <!-- <img class="vertical" src="/assets/img/icons/warning.png" alt=""> -->
                                <div style="margin: auto;margin-bottom: 5px;margin-top: 5px;color: red;">
                                    <%= message %></div>
                                <% } %>
>>>>>>> origin/master
                        <div class="email col-12">
                            <input class="form-control" type="text" id="mail" name="email" placeholder="Enter your email here...">
                        </div>
                        <input class="btn btn-primary" style="margin: auto; margin-top: 10px;" type="submit" value="Submit">
<<<<<<< HEAD
                    </div>
=======
                        <div class="col-12 form-row">
                        <% if(success != "") { %>
                            <!-- <img class="vertical" src="/assets/img/icons/warning.png" alt=""> -->
                            <div style="margin: auto;margin-bottom: 5px;margin-top: 15px;color: green;font-size: 20px;font-weight: bold;">
                                <%= success %></div>
                            <% } %>
                        </div>
                    </div>
                    
>>>>>>> origin/master
                </form>
                </div>
            </div>

    </div>

</body>

</html>