* {
    box-sizing: border-box;

}

body {
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    text-align: center;
    color: #001a79;
    font-weight: bolder;
}



input[type=submit] {
    background-color: rgb(143, 147, 240);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}


input[type=submit]:hover {
    background-color: #001a79;
}



.title {
    font-weight: bolder;
    text-align: center;
    color: green;

}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 500px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {

    .email,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}